@font-face { 
    font-family: samsungsharpsans; 
    src: url('../fonts/samsungsharpsans.otf'); 
} 
@font-face { 
    font-family: Avenir-Light; 
    src: url('../fonts/Avenir-Light.otf'); 
} 
@font-face { 
    font-family: samsungsharpsans-bold; 
    src: url('../fonts/samsungsharpsans-bold.otf'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    font-family: 'Nunito', sans-serif;
    /* font-family: samsungsharpsans; */
}
a{
	text-decoration: none !important;
	font-weight: 400;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
section.landing-page{
    position: relative;
	background-color: #0b183d;
    height: 600px;
	width: 100%;
	overflow: hidden;
}
section.landing-page  header{
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    background: transparent;
    overflow: hidden;
}

header .content{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 1rem;
    position: relative;
}

header .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}

header .logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    font-family: samsungsharpsans;
}

header nav{
    display: inline-block;
    transition:  all 0.5s
}
/* header .row,header,.logo,.link-icons,nav{
    border: 1px solid #fff;
} */

nav a{
    font-family: Avenir-Light;
    line-height: 1.5;
    display: inline-block;
    color: #fff;
    padding: .4rem 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    font-size: 18px;
}
.link-icons a{
	position: relative;
	display: inline-block;
    padding: .4rem .8rem;
}
.link-icons a img{
    width: 20px;
}

.landing-page .landing-content{
	width: 100%;
	height: calc(100% - 73px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-content .landing-inner{
	width: 100%;
	position: relative;
	text-align: center;
	padding: 3em 0;
}

.landing-inner h2{
	color: #fff;
	font-size: 30px;
	line-height: 1.2;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: samsungsharpsans-bold;
}

.landing-inner p{
	color: #fff;
	font-weight: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Avenir-Light;
}

.landing-image{
	padding-top: 2em;
	height: 100%;
	position: relative;
}

.landing-image img{
	position: absolute;
	bottom: -2px;
	height: 350px;
	transform: translate(-50%, 0);
}
/*=============*/
main .think-Place{
   background-color: #1e1e20;
   padding: 5em 0; 
   position: relative;
   width: 100%;
}
/* .section-heading{} */
.section-heading h1{
    font-size: 35px;
    font-weight: 700 !important;
    color: #fff;
    line-height: 1.3;
    font-family: samsungsharpsans-bold;
    letter-spacing: 2px;
}

.place-card{
    width: 100%;
    height: 500px;
    border-radius: 15px;
    position: relative;
    /* margin: 20px 0; */
    overflow: hidden;
}

.place-card img{
    width: 100%;
    min-height: 500px;
    transform: scale(1.1);
}

.place-card .img-content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: rgba(0,0,0,0.2);
    width: 100%;
}
.img-content p.country{
    text-transform: uppercase;
    color: #fff;
    margin:0;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    font-family: samsungsharpsans;
}
.img-content h2{
    text-transform: capitalize;
    color: #fff;
    margin:0;
    font-size: 25px;
    font-weight: 900;
    font-family: samsungsharpsans;
}

.img-content p.icon{
    color: #fff;
    margin:0;
}


/* 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15) */











.mb-8{
    margin-bottom: 8rem;
}

.mt-8{
    margin-top: 8rem;
}